<!--inject:common/header-start.html-->
<title>About - Opportunify</title>
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
<!--inject:common/header-end.html-->

<body>
    <!-- Header -->
    <header>
        <div class="site-header">
            <!--inject:common/menu.html-->
        </div>
    </header>
    <!-- Banner section -->
    <section class="banner inner">
        <img src="assets/images/banner-vector.svg" alt="" class="float-img">
        <div class="container position-relative">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="text">
                        <h1>About Us</h1>
                        <p>
                            Welcome to Opportunify, the platform that empowers university students to succeed in the
                            finance industry. We offer a tracker with thousands of opportunities worldwide and a
                            mentoring platform to help students navigate the complex process of applying for finance
                            internships and jobs. Our focus is on providing equal opportunities for all, regardless of
                            background or identity.
                        </p>
                        <p>
                            At Opportunify, inclusivity and equal opportunities are our core values. We believe that
                            everyone should have an equal chance to succeed, and we're committed to helping students
                            break into the finance industry, regardless of their gender, race, socio-economic status or
                            academic background. Our name, Opportunify, reflects our mission to open up opportunities
                            for everyone and make them accessible. Join us at Opportunify and take the first step
                            towards a successful career in finance!
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="img">
                        <img src="assets/images/about/banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->
    <section class="contact-us">
        <div class="container position-relative">
            <img src="assets/images/about/handshake.svg" alt="Vector" class="float-img">
            <div class="row justify-content-between align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 pe-lg-4">
                    <div class="img">
                        <img src="assets/images/about/contact.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Section Title  -->
                    <div class="section-title">
                        <h2>Contact Us</h2>
                        <p>
                            Do not hesitate to get in touch if you have any questions, we are happy to help!
                        </p>
                    </div>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nameInput" placeholder="John Doe" required>
                            <label for="nameInput">Your Name*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required>
                            <label for="emailInput">Email address*</label>
                        </div>
                        <div class="form-floating mb-4">
                            <textarea class="form-control" placeholder="Leave your message here" id="messageField"
                                      style="height: 150px"></textarea>
                            <label for="messageField">Message</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Send" class="btn site-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section -->
    <section class="faq bg-white">
        <div class="container">
            <div class="section-title text-center mb-5">
                <h2>Frequently Asked <span>Questions</span></h2>
            </div>
            <div class="content">
                <div class="accordion" id="accordionFaq">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faqOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqAnsOne" aria-expanded="true" aria-controls="faqAnsOne"
                            >
                                Is the FinternHub Free?
                            </button>
                        </h2>
                        <div id="faqAnsOne" class="accordion-collapse collapse show" aria-labelledby="faqOne"
                             data-bs-parent="#accordionFaq"
                        >
                            <div class="accordion-body">
                                <p>
                                    The starter plan is free, giving access to the main hub with five leading banks
                                    shown. The pro plan includes all banks, boutiques, and funds, including new
                                    opportunity email notifications, access to your personal space and full
                                    functionality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faqTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqAnsTwo" aria-expanded="true" aria-controls="faqAnsTwo"
                            >
                                What is the cost of mentoring?
                            </button>
                        </h2>
                        <div id="faqAnsTwo" class="accordion-collapse collapse" aria-labelledby="faqTwo"
                             data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>
                                    Every mentor can list their own price and so you will have the choice.
                                    There is usually a correlation of experience/prestige of an institution with price.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faqThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqAnsThree" aria-expanded="true" aria-controls="faqAnsThree"
                            >
                                How much is the FinternHub pro plan?
                            </button>
                        </h2>
                        <div id="faqAnsThree" class="accordion-collapse collapse" aria-labelledby="faqThree"
                             data-bs-parent="#accordionFaq"
                        >
                            <div class="accordion-body">
                                <p>
                                    The FinternHub pro plan is $49 for 3 months or $79 for 6 months.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faqFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqAnsFour" aria-expanded="true" aria-controls="faqAnsFour"
                            >
                                How long are the mentoring sessions?
                            </button>
                        </h2>
                        <div id="faqAnsFour" class="accordion-collapse collapse" aria-labelledby="faqFour"
                             data-bs-parent="#accordionFaq"
                        >
                            <div class="accordion-body">
                                <p>
                                    Mentoring sessions can last between 30 minutes and 1 hour depending on your
                                    preference. You’ll have access to the mentors calendar, so you can see their
                                    availabilities and book the best time for you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--inject:common/footer-menu.html-->
<!--inject:common/footer-start.html-->
<script>
$(function(){
    $("#nav-link-about").addClass('active')
})
</script>
<!--inject:common/footer-end.html-->
