<!--begin::Form-->
<form
  class="form w-100"
  [formGroup]="loginForm"
  novalidate="novalidate"
  id="kt_login_signin_form"
  (ngSubmit)="submit()"
>
  <!--begin::Heading-->
  <div class="mb-11">
    <h1 class="text-dark fw-bolder mb-3">Sign In</h1>
    <!-- <div class="text-gray-400 fw-bold fs-4">
      New Here?
      <a
        routerLink="/auth/registration"
        id="kt_login_signup"
        class="link-primary fw-bolder"
        >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
      >
    </div> -->
  </div>
  <!--end::Heading-->

  <div class="alert alert-success" *ngIf="signup">
    Your account has been created! Please log in to your account with the form below.
  </div>

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">The login details are incorrect</div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="form-floating mb-8">
    <input
      class="form-control bg-transparent"
      type="email"
      name="email"
      formControlName="email"
      autocomplete="off"
      placeholder="Email"
      [ngClass]="{
        'is-invalid': loginForm.controls['email'].invalid && loginForm.controls['email'].touched,
        'is-valid': loginForm.controls['email'].valid && loginForm.controls['email'].touched
      }"
    />
    <label class="form-label fs-4 text-gray-700">Email</label>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: loginForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email is invalid',
        control: loginForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Email should have at least 3 symbols',
        control: loginForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: loginForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="form-floating mb-8">
    <input
      class="form-control bg-transparent"
      type="password"
      name="password"
      autocomplete="off"
      placeholder="Password"
      formControlName="password"
      [ngClass]="{
        'is-invalid': loginForm.controls['password'].invalid && loginForm.controls['password'].touched,
        'is-valid': loginForm.controls['password'].valid && loginForm.controls['password'].touched
      }"
    />
    <label class="form-label fs-4 text-gray-700 mb-0">Password</label>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: loginForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: loginForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: loginForm.controls['password']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-wrap gap-3 fs-4 mb-8">
    <div></div>

    <!--begin::Link-->
    <a routerLink="/auth/forgot-password" class="link-primary"> Forgot Password ? </a>
    <!--end::Link-->
  </div>
  <!--end::Wrapper-->

  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continue</span>
      </ng-container>
    </button>
  </div>

  <div class="text-gray-700 text-center fs-4">
    Not a Member yet?

    <a routerLink="/auth/registration" class="link-primary"> Sign up </a>
  </div>

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
